.btn-primary{
    background-color: #016A70 !important;
}
.btn-secondary{
    background-color: #D2DE32 !important;
}
.bgh-primary{
    background-color: #FFFFDD !important;
}
.bgh-secondary{
    background-color: #A2C579 !important;
}